
.header{
    border:#000000 2px solid;
    
}
.my_inputs{
    text-align: left;
    margin-top:10px;
    margin-left:43%;
    margin-bottom:10px;
    position: relative;
    display:block;
    

}

.adminflex-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    


}


.select-box{
    justify-content: center;
    border:black 1px solid;
    display:block;
    margin-left:48%;
    margin-bottom:10px;
}

