.classys-container{
    display:flex;
    justify-content: center;
    color:black;
    margin-right:10%;
    margin-left:10%;
}
.classys-card{
    height:400px;
    width:1000px;
    border: black 10px solid;
}


.classys-portrait{

    justify-content: center;

}

.classys-champs{
    margin-top:50px;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap:wrap;
}

.classys-information{
 
    font-size:20px;
}
.classys-info-container{
    display:flex;
}